
footer {
    background-color: white;
    border-top: 2px solid black;
    margin-top: 24px;
    padding: 16px;
    text-align: center;
    font-size: 14px;
}


@media all and (min-width: 900px) {
    aside {
        flex: 1;
        max-width: 30%;
    }
    main {
        flex: 2;
        max-width: 70%;
    }
}

li a:hover {
    background-color: #111;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: center;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

.column img:hover {
    transform: scale(1.1);
}

.column img {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.podcast-item {
    text-align: center;
}

.podcast-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;
}


.podcast-item p {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 20px;
  }

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width:auto\9
}

